In [1]:
import sqlalchemy as db
from getpass import getpass

In [2]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [4]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [5]:
import pandas as pd

In [38]:
#Challenge 1

#Step1

df = pd.read_sql_query("""

SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty
     FROM titleauthor as ta
       INNER JOIN titles as t
       ON t.title_id=ta.title_id
      INNER JOIN sales as s
       ON t.title_id=s.title_id

    
""", engine)
df

   TitleID     AuthorID Royalty
0   BU1032  213-46-8915    4.00
1   BU1032  409-56-7008    6.00
2   PS2091  899-46-2035    1.97
3   PS2091  998-72-3567    1.97
4   PC8888  427-17-2319   50.00
5   PC8888  846-92-7186   50.00
6   PS2091  899-46-2035   49.28
7   PS2091  998-72-3567   49.28
8   PS2091  899-46-2035    6.57
9   PS2091  998-72-3567    6.57
10  TC3218  807-91-6654   83.80
11  TC4203  648-92-1872   33.46
12  TC7777  267-41-2394    8.99
13  TC7777  472-27-2349    8.99
14  TC7777  672-71-3249   11.99
15  PS2091  899-46-2035   13.14
16  PS2091  998-72-3567   13.14
17  MC3021  722-51-5454   13.46
18  MC3021  899-46-2035    4.49
19  PS1372  724-80-9391   10.80
20  PS1372  756-30-7391   32.39
21  PS2106  998-72-3567   17.50
22  PS3333  172-32-1176   29.99
23  PS7777  486-29-1786   19.98
24  BU7832  274-80-9391   29.99
25  MC2222  712-45-1867   23.99
26  BU2075  213-46-8915   25.12
27  MC3021  722-51-5454    8.07
28  MC3021  899-46-2035    2.69
29  BU1032  213-46-8915    8.00
30  BU1032  409-56-7008   11.99
31  BU1111  267-41-2394   11.95
32  BU1111  724-80-9391   17.93
33  PC1035  238-95-7766  110.16

In [32]:
#Step2

df = pd.read_sql_query("""
SELECT TitleID, AuthorID, sum(Royalty) as Royalty FROM (
	SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty
     FROM titleauthor as ta
     INNER JOIN titles as t
     ON t.title_id=ta.title_id
     INNER JOIN sales as s
     ON t.title_id=s.title_id
) as calc
GROUP BY TitleID,AuthorID
ORDER BY Royalty DESC

""", engine)
df

   TitleID     AuthorID  Royalty
0   PC1035  238-95-7766   110.16
1   TC3218  807-91-6654    83.80
2   PS2091  899-46-2035    70.96
3   PS2091  998-72-3567    70.96
4   PC8888  427-17-2319    50.00
5   PC8888  846-92-7186    50.00
6   TC4203  648-92-1872    33.46
7   PS1372  756-30-7391    32.39
8   PS3333  172-32-1176    29.99
9   BU7832  274-80-9391    29.99
10  BU2075  213-46-8915    25.12
11  MC2222  712-45-1867    23.99
12  MC3021  722-51-5454    21.53
13  PS7777  486-29-1786    19.98
14  BU1032  409-56-7008    17.99
15  BU1111  724-80-9391    17.93
16  PS2106  998-72-3567    17.50
17  BU1032  213-46-8915    12.00
18  TC7777  672-71-3249    11.99
19  BU1111  267-41-2394    11.95
20  PS1372  724-80-9391    10.80
21  TC7777  267-41-2394     8.99
22  TC7777  472-27-2349     8.99
23  MC3021  899-46-2035     7.18

In [34]:
#Step3
df = pd.read_sql_query("""
SELECT AuthorID, sum(Royalty)+t.advance as PROFIT FROM (
      SELECT TitleID, AuthorID, sum(Royalty) as Royalty2 FROM (
	         SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty
                    FROM titleauthor as ta
                        INNER JOIN titles as t
                        ON t.title_id=ta.title_id
                        INNER JOIN sales as s
						ON t.title_id=s.title_id
) as calc
GROUP BY TitleID,AuthorID
ORDER BY Royalty DESC
) as royal
INNER JOIN titles as t
ON TitleID=t.title_id
GROUP BY AuthorID
ORDER BY PROFIT DESC
LIMIT 3

""", engine)
df

InternalError: (pymysql.err.InternalError) (1055, "Expression #1 of ORDER BY clause is not in GROUP BY clause and contains nonaggregated column 'calc.Royalty' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL:
SELECT AuthorID, sum(Royalty)+t.advance as PROFIT FROM (
      SELECT TitleID, AuthorID, sum(Royalty) as Royalty2 FROM (
	         SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty
                    FROM titleauthor as ta
                        INNER JOIN titles as t
                        ON t.title_id=ta.title_id
                        INNER JOIN sales as s
						ON t.title_id=s.title_id
) as calc
GROUP BY TitleID,AuthorID
ORDER BY Royalty DESC
) as royal
INNER JOIN titles as t
ON TitleID=t.title_id
  GROUP BY AuthorID
  ORDER BY PROFIT DESC
  LIMIT 3

]
(Background on this error at: http://sqlalche.me/e/2j85)

In [36]:
#Challenge 3
df = pd.read_sql_query("""
CREATE TABLE most_profiting_authors (
     SELECT AuthorID, sum(Royalty)+t.advance as PROFIT FROM (
      SELECT TitleID, AuthorID, sum(Royalty) as Royalty2 FROM (
	         SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty
                    FROM titleauthor as ta
                        INNER JOIN titles as t
                        ON t.title_id=ta.title_id
                        INNER JOIN sales as s
						ON t.title_id=s.title_id
) as calc
GROUP BY TitleID,AuthorID
ORDER BY Royalty DESC
) as royal
INNER JOIN titles as t
ON TitleID=t.title_id
GROUP BY AuthorID
ORDER BY PROFIT DESC
LIMIT 3
);

""", engine)
df

InternalError: (pymysql.err.InternalError) (1050, "Table 'most_profiting_authors' already exists")
[SQL:
CREATE TABLE most_profiting_authors (
     SELECT AuthorID, sum(Royalty)+t.advance as PROFIT FROM (
      SELECT TitleID, AuthorID, sum(Royalty) as Royalty2 FROM (
	         SELECT t.title_id as TitleID,ta.au_id as AuthorID,concat(round(t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100,2)) as Royalty
                    FROM titleauthor as ta
                        INNER JOIN titles as t
                        ON t.title_id=ta.title_id
                        INNER JOIN sales as s
						ON t.title_id=s.title_id
) as calc
GROUP BY TitleID,AuthorID
ORDER BY Royalty DESC
) as royal
INNER JOIN titles as t
ON TitleID=t.title_id
GROUP BY AuthorID
ORDER BY PROFIT DESC
LIMIT 3
);

]
(Background on this error at: http://sqlalche.me/e/2j85)